
body{
  background-color: rgb(red, green, blue)
}

.title {
  text-align: center;
  padding: 40px;
}

.container {
  display: flex;
}

input {
  border: solid 1px black;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.product {
  margin: 10px;

}

.cost {
  margin: 10px;

}

.input {
  margin: 10px;
}

.totalP {
  margin: 10px;
}

.calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-left: -260px;
}

.remove {
  margin: 10px;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0px 5px;
  height: 30px;
}
