
body{
  overflow-x: hidden;
  z-index: 1000;
}

.title {
  text-align: center;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: row;
}

input {
  border: solid 1px black;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 30px 0 0 480px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.cost-1 {
  margin: 10px;

}

.input {
  margin: 10px;
}

.totalP-1 {
  margin: 10px;
}



/* add total & product container */ 
.addBC-container {
    display: flex;
    flex-direction: column;
    margin:20px 0 20px 0;
}

/* Add new product button*/
.addPBtn {
  margin:10px 0 0 1280px;
  display: flex;
  flex-direction: column;
  width: 6%;
} 

#cart-total-price {
  display: flex;
  justify-content: center;
}

/* total button*/
.calculate {
  margin:10px 0 0 1280px;
  display: flex;
  flex-direction: column;
  width: 6%;
} 

.remove {
  margin: 10px;
} 

.btn-danger {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}


.newPrice {
  position: relative;;
  top: 200px;
  left: 100px;
}


.prices .newPrice {
  position: relative;;
  top: 200px;
  left: 100px;
}

.product { text-transform: capitalize; }

#addNewProd {
  position: relative;
  float: right;
  left: -735px;
  top: -230px;
   display: inline;
}

#addExtra {
   position: relative;
}

/*new dinamic products style */
.new {
  position: relative;
  top: -100px;
  left: 170px
}

.new .name {
  position: relative;
  left: -730px;
}

.new .price {
  position: relative;
  left: -730px;
}

/* 
 .newRowItems .quan {
  position: relative;
  top: -130px;
  left: 460px;
}

 .newRowItems input{
  position: relative;
  top: -91px;
  left: 190px;
 }

 
 .newRowItems .inputQua{
  position: relative;
  top: -80px;
  left: 380px;
 }

  .newRowItems .defPrice{
  position: relative;
  top: -210px;
  left: 845px;
 } */ */

 /* style new added new products*/
 /* #amess {
   display:flex;
   width:50%;
   height: 500px;
   flex-direction: column;
   /* align-items: center; */
   /* margin-bottom: 300px;
   left: -400px;
 } */

/* 
.newRowItems button {
  position: relative;
  top: -253px;
  left: 890px;
  width: 70px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

} */